@import "../../../styles/app.module.scss";

.cause {
  display: block;
  max-width: 380px;
  .header {
    @include get-text($font-family-inter, 400, 48px);
    line-height: 58px;
  }
  .name {
    font-family: $font-family-inter;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .description {
    @include get-text($font-family-montserrat, 400, 18px);
    line-height: 22px;
    margin-top: 30px;
    max-width: 275px;
  }
}

@media (max-width: 730px) {
  .cause {
    .header {
      font-size: 36px;
      line-height: 36px;
    }
    .name {
      font-size: 36px;
      line-height: 43px;
    }
    .description {
      font-size: 18px;
      line-height: 22px;
      margin-top: 15px;
    }
  }
}
